* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

ul {
  list-style-type: none;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.blue-text {
  color: #0282F9;
}

.container-standard {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.flex-container-centered {
  display: flex;
}

.top-menu {
  background-color: #0282F9;
  text-align: right;
}
.top-menu li {
  display: inline-block;
  margin-left: 50px;
  padding: 5px 0;
}
.top-menu li a {
  text-decoration: none;
  color: white;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 90px;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 100%;
}
.header-menu li {
  display: inline-block;
  padding: 50px 0;
}
.header-menu li.active {
  border-bottom: 4px solid #0282F9;
}
.header-menu li.active a {
  color: #0282F9;
}
.header-menu li a {
  text-decoration: none;
  color: #1C1C1C;
  font-weight: bold;
}
.header-menu li a i {
  color: #0282F9;
}

.header-menu li:hover {
  border-bottom: 4px solid #0282F9;
}
.header-menu a:hover {
  color: #0282F9;
}

.search-bar input {
  border: none;
  border-bottom: 2px solid #0282F9;
}

.jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/jumbotron.jpg);
}

.blue-section {
  background-color: #0282F9;
}

.blue-menu {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.blue-menu li {
  width: calc(100% / 5);
  display: flex;
  align-items: center;
}
.blue-menu li span {
  color: white;
  padding-left: 30px;
}

.list-icon {
  height: 60px;
}

.list-icon.power-visa {
  height: 40px;
}

.bg-section {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 500px;
}

.footer-menu-container {
  width: 50%;
  padding: 50px 0;
}

.big-logo {
  width: 50%;
}
.big-logo img {
  position: relative;
  top: -30px;
}

.footer-block {
  padding-right: 40px;
}

.footer-menu {
  margin-bottom: 20px;
}
.footer-menu h3 {
  font-size: 30px;
  color: white;
  padding: 20px 0;
}
.footer-menu a {
  color: #90908E;
}

.social-section .container-standard {
  display: flex;
  justify-content: space-between;
}

.social-section {
  background-color: #303030;
  padding: 30px 0;
}
.social-section button {
  background-color: #303030;
  color: white;
  border: 1px solid #0282F9;
  padding: 0 10px;
}

.social-menu li {
  padding-left: 15px;
}
.social-menu li h3 {
  color: #0282F9;
  font-size: 30px;
}

.copyright {
  color: #90908E;
}
.copyright a {
  color: #0282F9;
}

.bg-dark {
  background-color: #1C1C1C;
}

.main-title {
  display: inline-block;
  padding: 10px 30px;
  background-color: #0282F9;
  position: relative;
  top: -35px;
}
.main-title h2 {
  color: white;
  font-size: 35px;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
}

.comic {
  width: calc(100% / 6);
  padding: 10px;
}
.comic .cover {
  height: 200px;
  overflow: hidden;
}
.comic h4 {
  color: white;
  text-transform: uppercase;
}

.load-more-btn {
  background-color: #0282F9;
  padding: 10px 50px;
  text-align: center;
  border: none;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.product-cover-section {
  height: 100px;
  background-color: #0282F9;
}

.product-cover {
  position: relative;
  top: -220px;
  border: 1px solid white;
  display: inline-block;
}
.product-cover img {
  display: block;
}
.product-cover .view-gallery-btn {
  background-color: #0282F9;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.product-cover .view-gallery-btn a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}
.product-cover .label {
  background-color: #0282F9;
  position: absolute;
  top: 0;
  padding: 5px;
}
.product-cover .label span {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.product-description {
  width: 65%;
  padding: 60px 30px 60px 0;
}
.product-description h2 {
  color: #003F5E;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}

.green-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #55BA59;
  border-bottom: 1px solid #357739;
  color: white;
  font-size: 20px;
}
.green-block .price-tag {
  padding: 15px 30px;
}
.green-block .availability {
  margin-left: auto;
}
.green-block .availability div {
  display: inline-block;
  padding: 15px 30px;
}
.green-block .buy {
  border-left: 1px solid #357739;
}

.light-green-text {
  color: #B0F98F;
  text-transform: uppercase;
}

.description {
  color: #1C1C1C;
  line-height: 25px;
  padding-top: 20px;
}

.adv {
  width: 35%;
  padding: 60px 0 60px 30px;
}
.adv div {
  font-weight: bold;
}

.product-info {
  background-color: #F6F6F6;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}
.product-info .container-standard {
  padding-top: 30px;
  padding-bottom: 100px;
}

.info-tab {
  width: 50%;
}
.info-tab h4 {
  color: #003F5E;
  font-size: 28px;
  padding-bottom: 30px;
}

.info-tab:first-child {
  padding-right: 40px;
}

.info-tab > * {
  border-bottom: 1px solid #E4E4E4;
}

.info-row {
  padding: 10px 0;
}

.key {
  color: #003F5E;
  width: 30%;
  font-weight: bold;
}

.value {
  width: 70%;
}