*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    list-style-type: none;
}

.text-centered{
    text-align: center;
}

.text-right{
    text-align: right;
}

.blue-text{
    color: $brand-primary;
}

.container-standard{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
}

.flex-container-centered{
    display: flex;
}
