*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    list-style-type: none;
}

.container-standard{
    width: 80%;
    margin: auto;
}