.top-menu{
    background-color: $brand_primary;
    text-align: right;
    li{
        display: inline-block;
        margin-left: 50px;
        padding: 5px 0;

        a{
            text-decoration: none;
            color: white;
        }
    }
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    img{
        width: 90px;
    }
}
.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 100%;
    li{
        display: inline-block;
        padding: 50px 0;

        &.active{
            border-bottom: 4px solid $brand_primary;

            a{
                color: $brand_primary;
            }
        }
        a{
            text-decoration: none;
            color: $brand_secondary;
            font-weight: bold;
            i{
                color: $brand_primary;
            }
        }
    }
}

.header-menu{
    li:hover{
        border-bottom: 4px solid $brand_primary;
    }

    a:hover{
        color: $brand-primary;
    }
}
.search-bar{
    input{
        border: none;
        border-bottom: 2px solid $brand_primary;
    }
}

.jumbotron{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/jumbotron.jpg);
}