
.bg-dark{
    background-color: $brand-secondary;
}

.main-title{
    display: inline-block;
    padding: 10px 30px;
    background-color: $brand-primary;
    position: relative;
    top: -35px;

    h2{
        color: white;
        font-size: 35px;
    }
}

.comics-container{
    display: flex;
    flex-wrap: wrap;
    // padding: 50px 0;
}

.comic{
    width: calc(100% / 6);
    padding: 10px;
    .cover{
        height: 200px;
        overflow: hidden;
    }

    h4{
        color: white;
        text-transform: uppercase;
    }
}

.load-more-btn{
    background-color: $brand-primary;
    padding: 10px 50px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

// scheda prodotto 

.product-cover-section{
    height: 100px;
    background-color: $brand-primary;
}

.product-cover{
    position: relative;
    top: -220px;
    border: 1px solid white;
    display: inline-block;

    img{
        display: block;
    }

    .view-gallery-btn{
        background-color: $brand-primary;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        a{
            color: white;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    .label{
        background-color: $brand-primary;
        position: absolute;
        top: 0;
        padding: 5px;
        span{
            color: white;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}

.product-description{
    h2{
        color: #003F5E;
        text-transform: uppercase;
        font-size: 40px;
    }
}